{
    // absolute path to the directory used for storing data (e.g. photos, logs, etc.)
    "storage-dir": "/path/to/storage",
    // path to the directory used for storing service status JSON files (relative to the user's home directory)
    "status-dir": ".data/status"
}
