{
    // Absolute path to the directory used for storing data (e.g. photos, logs, etc.).
    "storage-dir": "/path/to/storage",

    // Path to the directory used for storing service status JSON files (relative to the user's home directory).
    // Defaults to `.cache/achterhus/status` in the user's home directory.
    "status-dir": ".data/status"
}
