[Unit]
Description=Run Document Processor every night

[Timer]
Unit=document-processor.service
OnCalendar=daily
Persistent=true
RandomizedDelaySec=2h

[Install]
WantedBy=timer.target
