[Unit]
Description=Get Podcasts once a week

[Timer]
Unit=get-audiothek-podcasts.service
OnCalendar=daily
RandomizedDelaySec=2h
Persistent=true

[Install]
WantedBy=timers.target
