[Unit]
Description=Run Photo Processor every night

[Timer]
Unit=photo-processor.service
OnCalendar=daily
RandomizedDelaySec=2h
Persistent=true

[Install]
WantedBy=timers.target
