[Unit]
Description=Daily Google Drive Sync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=%h/.config/achterhus/server-tools.env
ExecStart=/usr/bin/docker compose \
    --project-directory ${PROJECT_DIR} \
    --env-file %h/.config/achterhus/server-tools.env \
    run --rm sync-gdrive

[Install]
WantedBy=default.target
